html{
    box-sizing: border-box;
    height: 100%;
   
    }
  
    *,
    *::before,
    *::after{
       box-sizing: inherit;
       margin: 0;
       padding: 0; 
    }



        body {
          font-family: 'Dosis', sans-serif;
            height: 100%;
            margin: 0;
           background-color: #302E2E;
        }

        .top{
          display: flex;
          align-items: top;
          align-items: center;
          width: 100%;
          height: 15%;
          overflow:-moz-hidden-unscrollable;
          position: relative;
          background-image: linear-gradient(43deg, #fd5d35 0%, #fecdc2 46%, #aaaaaa 100%);
          text-indent: 50px;
          letter-spacing: 2px;
          text-indent: 100px;
          justify-content: center;
          font-family: inherit;
        }

        .title{
          letter-spacing: 20px;
          align-items: center;
          justify-content: center;
          display: flex;
          font-family: inherit;
          font-size: 40px;
          white-space: pre;
        }
        .container {
     
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .card {
            width: 300px;
            height: 200px;
            background-image: linear-gradient(43deg, #fd5d35 0%, #fecdc2 46%, #aaaaaa 100%);
            border-radius: 8px;
            overflow: hidden;
            position: relative;
            transform-style: preserve-3d;
            perspective: 1000px;
            transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
            cursor: pointer;
            margin-left: 50px;
            margin-top: 50px;
        }
          
          .card-content {
      
            padding: 20px;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            color: white;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 100%;
        
          }
          
          .card-content .card-title {
            font-family: 'Dosis', sans-serif;
            font-size: 24px;
            font-weight: 700;
            color:whitesmoke;
            text-transform: uppercase;
          }
          
          .card-content .card-para {
            font-family: 'Dosis', sans-serif;
            color: inherit;
            opacity: 0.8;
            font-size: 14px;
          }
          
          .card:hover {
            transform: rotateY(10deg) rotateX(10deg) scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          }
          
          .card:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
            z-index: 1;
          }
          
          .card:hover:before {
            transform: translateX(-100%);
          }
          
          .card:after {
      
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
            z-index: 1;
          }
          
          .card:hover:after {
            transform: translateX(100%);
          }
          
          
          
          
          
          